VITE_FIREBASE_API_KEY=AIzaSyD9MsiQ1VTlXNp9HLmYyCyn9ghqEHYYrrk
VITE_FIREBASE_AUTH_DOMAIN=casa-a0dfc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=casa-a0dfc
VITE_FIREBASE_STORAGE_BUCKET=casa-a0dfc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=890269158381
VITE_FIREBASE_APP_ID=1:890269158381:web:355ef9df227d1b451df5e4
VITE_HOME_ID=familia
VITE_FIREBASE_VAPID_KEY=

